/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap'); */
@import '/assets/scrollbar.css';
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
a{
  text-decoration: none;
}
:root {
  --bg: #1f1f1f;
  --primary: #004802;
  --primary-dark: #001800;
  --primary-light: #4bda4d;
  --gap: 5px;
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);

  color: white;
}
button {
  cursor: pointer;
}
.app {
  width: 100%;
  padding: 50px 0;
  font-family: cursive, monospace;
}

header,
footer {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;

  background: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

footer {
  bottom: 0;
  top: unset;
  border-radius: 10px 10px 0px 0px;
}
header > div,
footer > div {
  margin: calc(2 * var(--gap));
}

header .left {
  display: flex;
  margin: 0;

  height: 100%;
  align-items: center;
}

header .nav {
  background: var(--primary);
  height: 100%;
  width: 30px;
  margin-right: var(--gap);

  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav span {
  color: white;
  transform: scale(1.5);
  height: 54%;
}

header .nav:hover span {
  color: var(--primary-light);
}

.scroll {
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
}
.box {
  margin: calc(2 * var(--gap));
  padding: var(--gap);
  box-shadow: 1px 1px 3px 0px #000;
  background: rgb(17, 16, 16);
}

.items {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.item {
  border-radius: 7px;
  padding: calc(2 * var(--gap));
  margin: var(--gap);
  background: var(--primary);
  color: white;
  font-size: 14px;
  font-family: cursive, monospace;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.item .name {
  text-align: left;
  margin-bottom: 2px;
}

.item.new .name{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item > .val,
.item > .side-by-side {
  text-align: right;
  width: 100%;
}
.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selections .item {
  background: #6d0404;
}

.save .item {
  align-items: center;
}
